.brand-logo {
  display: flex;
  justify-content: center;
}
.brand-logo .icon {
  overflow: hidden;
  width: 6rem;
  height: 6rem;
}
.brand-logo .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main.company-profile {
  padding: 0.5rem 0;
}