@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-size: 16px;
  background-color: #f1f2ed;
  color: #243734;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
}

p {
  margin: 0;
  line-height: 1.5;
}

a:hover, a:active {
  color: #5bbb7b;
}

a.btn-theme-01-rounded {
  display: inline-block;
  border-radius: 3rem;
  padding: 0.75rem 2rem;
  background-color: #1f4b3f;
}
a.btn-theme-01-rounded:hover {
  background-color: #1f4b3f;
  color: inherit;
}

a.btn-theme-01-rounded-outlined {
  display: inline-block;
  border: 1px solid #f1f2ed;
  border-radius: 3rem;
  padding: 0.75rem 2rem;
  color: #f1f2ed;
}
a.btn-theme-01-rounded-outlined:hover {
  border: 1px solid #1f4b3f;
  color: inherit;
  background-color: #1f4b3f;
}

a.btn-theme-01-rounded {
  display: inline-block;
  border-radius: 3rem;
  padding: 0.75rem 2rem;
  background-color: #1f4b3f;
}
a.btn-theme-01-rounded:hover {
  color: inherit;
}

a.btn-theme-02-rounded {
  display: inline-block;
  border-radius: 3rem;
  padding: 0.75rem 2rem;
  background-color: #5bbb7b;
}
a.btn-theme-02-rounded:hover {
  background-color: #5bbb7b;
  color: inherit;
}

a.btn-theme-02-rounded-outlined {
  display: inline-block;
  border: 1px solid #f1f2ed;
  border-radius: 3rem;
  padding: 0.75rem 2rem;
  color: #f1f2ed;
}
a.btn-theme-02-rounded-outlined:hover {
  border: 1px solid #5bbb7b;
  color: inherit;
  background-color: #5bbb7b;
}

a.btn-theme-02-rounded {
  display: inline-block;
  border-radius: 3rem;
  padding: 0.75rem 2rem;
  background-color: #5bbb7b;
}
a.btn-theme-02-rounded:hover {
  color: inherit;
}

a.btn-theme-white-rounded {
  display: inline-block;
  border-radius: 3rem;
  padding: 0.75rem 2rem;
  background-color: #f1f2ed;
}
a.btn-theme-white-rounded:hover {
  background-color: #f1f2ed;
  color: inherit;
}

a.btn-theme-white-rounded-outlined {
  display: inline-block;
  border: 1px solid #f1f2ed;
  border-radius: 3rem;
  padding: 0.75rem 2rem;
  color: #f1f2ed;
}
a.btn-theme-white-rounded-outlined:hover {
  border: 1px solid #f1f2ed;
  color: inherit;
  background-color: #f1f2ed;
}

a.btn-theme-01-black-rounded {
  display: inline-block;
  border-radius: 3rem;
  padding: 0.75rem 2rem;
  background-color: #243734;
}
a.btn-theme-01-black-rounded:hover {
  background-color: #243734;
  color: inherit;
}

a.btn-theme-01-black-rounded-outlined {
  display: inline-block;
  border: 1px solid #f1f2ed;
  border-radius: 3rem;
  padding: 0.75rem 2rem;
  color: #f1f2ed;
}
a.btn-theme-01-black-rounded-outlined:hover {
  border: 1px solid #243734;
  color: inherit;
  background-color: #243734;
}

.search-engine {
  background-color: white;
  color: #243734;
  padding: 0.7rem;
  padding-left: 1.5rem;
  border-radius: 3rem;
  overflow: hidden;
}
.search-engine form {
  display: flex;
  align-items: center;
}
.search-engine form input,
.search-engine form select {
  height: 100%;
  background: none;
  border: none;
  border-radius: 0;
}
.search-engine form input::-moz-placeholder, .search-engine form select::-moz-placeholder {
  color: inherit;
}
.search-engine form input::placeholder,
.search-engine form select::placeholder {
  color: inherit;
}
.search-engine form input:focus,
.search-engine form select:focus {
  box-shadow: none;
  box-shadow: 0 0 2px rgba(91, 187, 123, 0.5);
}
.search-engine form input[type=submit] {
  border-radius: 3rem;
  padding: 1rem 2rem;
  background-color: #5bbb7b;
  color: #f1f2ed;
  font-weight: bold;
}

.counter {
  padding: 1rem 0;
  padding-top: 2rem;
}
.counter h3 {
  margin-bottom: 0;
}

.service_Single {
  height: 100%;
}
.service_Single .service_Body .media-content {
  width: 100%;
  aspect-ratio: 1.3;
  position: relative;
}
.service_Single .service_Body .media-content .image {
  width: 100%;
  height: 100%;
  background-color: #e5e7de;
}
.service_Single .service_Body .media-content .like_Button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 2.5rem;
  aspect-ratio: 1;
  background-color: #f1f2ed;
  border-radius: 50%;
}
.service_Single .service_Body .media-content .like_Button:hover {
  background-color: #5bbb7b;
}
.service_Single .service_Body .text-content {
  padding: 1rem;
}
.service_Single .service_Body .text-content .service_category_Label {
  margin-bottom: 0.5rem;
  color: rgba(36, 55, 52, 0.7);
}
.service_Single .service_Body .text-content .service_Heading h6 {
  font-size: 1.5rem;
  font-weight: 500;
}
.service_Single .service_Body .text-content .service_Reviews .reviewDescription {
  color: rgba(36, 55, 52, 0.7);
}
.service_Single .service_Footer {
  margin: 1rem;
  padding: 1rem 0;
  border-top: 1px solid #c3c7b2;
}

.project_Single {
  height: 100%;
  border: 1px solid #e5e7de;
  border-radius: 0.25rem;
}
.project_Single .project_Body {
  position: relative;
  display: flex;
  align-items: center;
}
.project_Single .project_Body .like_Button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 2.5rem;
  aspect-ratio: 1;
  background-color: #f7f7f7;
  cursor: pointer;
  border-radius: 50%;
}
.project_Single .project_Body .like_Button:hover {
  background-color: #5bbb7b;
}
.project_Single .project_Body .media-content {
  width: auto;
  display: grid;
  place-items: center;
}
.project_Single .project_Body .media-content .image {
  width: 150px;
  aspect-ratio: 1;
  background-color: #e5e7de;
}
.project_Single .project_Body .text-content {
  padding: 1rem;
}
.project_Single .project_Body .text-content .project_Employer {
  margin-bottom: 0.5rem;
  color: #5bbb7b;
}
.project_Single .project_Body .text-content .project_Heading h6 {
  font-size: 1.5rem;
  font-weight: 500;
}
.project_Single .project_Body .text-content .project_Profile {
  display: flex;
  gap: 0.25rem;
  font-size: 0.9rem;
  color: rgba(36, 55, 52, 0.7);
}
.project_Single .project_Footer {
  margin: 1rem;
  padding: 1rem 0;
  border-top: 1px solid #c3c7b2;
}

.accordion .accordion-item .accordion-button {
  border-bottom: 1px solid;
}
.accordion .accordion-item:first-of-type .accordion-button,
.accordion .accordion-item .accordion-button[aria-expanded=true] {
  border-color: #826b55;
}
.accordion .accordion-item .accordion-button[aria-expanded=false] {
  border-color: transparent;
}

@media screen and (min-width: 480px) {
  body {
    font-size: 18px;
  }
}
.gig__single {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  margin-bottom: 1rem;
}
.gig__single .text-content {
  padding: 0.5rem;
}
.gig__single .gig__banner {
  width: 100%;
  aspect-ratio: 1.2;
  position: relative;
}
.gig__single .gig__banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../media/png/logo.png") no-repeat, white;
  background-size: 80px auto, cover;
  background-position: center;
  opacity: 0.3;
  filter: saturate(0);
}
.gig__single .gig__banner:has(img) {
  background: #efefef;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gig__single .gig__banner:has(img)::after {
  display: none;
}
.gig__single .gig__title {
  padding: 0.25rem 0;
}
.gig__single .gig__title h3 {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
}

nav.navbar {
  padding: 0;
  background-color: #1f4b3f;
  color: #f1f2ed;
}
nav.navbar .navbar-brand img {
  height: 70px;
  width: auto;
  padding: 0.65rem;
}
nav.navbar ul.navbar-nav .dropdown-menu.megamenu {
  min-width: 68vw;
  left: -200%;
  padding: 2rem;
}
nav.navbar ul.navbar-nav .nav-item {
  padding: 0.75rem;
}
nav.navbar ul.navbar-nav .nav-item.categories .nav-link {
  background-color: #265d4e;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
}
nav.navbar ul.navbar-nav .nav-item.categories .dropdown-toggle::after {
  display: none;
}
nav.navbar ul.navbar-nav .nav-item .nav-link {
  color: #f1f2ed;
}
nav.navbar ul.navbar-nav .nav-item .nav-link.active, nav.navbar ul.navbar-nav .nav-item .nav-link:active, nav.navbar ul.navbar-nav .nav-item .nav-link:hover, nav.navbar ul.navbar-nav .nav-item .nav-link:focus {
  color: #5bbb7b;
}
nav.navbar ul.navbar-nav .nav-item .nav-link.sign-up {
  background-color: #f1f2ed;
  color: #243734;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
}

footer {
  background-color: #243734;
  color: #f1f2ed;
}
footer .footer-subnav {
  background-color: #101817;
}
footer .footer-subnav .nav-text,
footer .footer-subnav .nav-link {
  color: #f1f2ed;
}
footer .footer-linkset {
  padding-top: 2rem;
}
footer .footer-linkset li:not(:has(a)) {
  font-weight: 500;
  font-size: 1.2rem;
  color: #f1f2ed;
  margin-bottom: 0.5rem;
}
footer .footer-linkset li a {
  color: rgba(241, 242, 237, 0.5);
}
footer .footer-linkset li a:active, footer .footer-linkset li a:hover {
  color: #f1f2ed;
}

[disabled] {
  pointer-events: none;
  opacity: 0.5;
  filter: grayscale(1);
}

h2 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

main section {
  padding: 5vmin 0;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main section .section-title {
  margin-bottom: 1rem;
}
main section .section-title h2 {
  color: #5bbb7b;
  margin-bottom: 0.5rem;
}
main section#hero {
  background-color: #1f4b3f;
  color: #f1f2ed;
}
main section#hero .text-content .hero-text {
  padding: 1rem 0;
}
main section#hero .text-content .hero-text h1 {
  margin-bottom: 0.5rem;
}
main section#hero .text-content .hero-text p {
  padding: 1rem 0;
}
main section#hero .counter .count-card .count h3 {
  font-size: 2.5rem;
}
main section#services .services-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main section#services .services-title .categories .nav-tabs {
  border-bottom: 0;
  gap: 0.5rem;
}
main section#services .services-title .categories .nav-tabs .nav-item .nav-link {
  padding: 0.5rem 2rem;
  border-radius: 4rem;
  color: #243734;
  font-weight: 500;
}
main section#services .services-title .categories .nav-tabs .nav-item .nav-link.active {
  border: 1px solid #daddcf;
  color: #5bbb7b;
}
main section#services .services_List {
  padding: 2rem 0;
}
main section#projects .projects_List {
  padding: 2rem 0;
}
main section#for-clients .steps .step, main section#for-freelancers .steps .step {
  background-color: #daddcf;
  padding: 1rem;
  border-radius: 1rem;
  height: 100%;
}
main section#for-clients .steps .step .icon, main section#for-freelancers .steps .step .icon {
  font-size: 4rem;
  margin-bottom: 1rem;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
main section#for-clients .steps .step .icon::after, main section#for-freelancers .steps .step .icon::after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 2rem;
  aspect-ratio: 1;
  background-color: #826b55;
}
main section#for-clients .steps .step .icon i, main section#for-freelancers .steps .step .icon i {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}
main.status_maintenance {
  background-color: #1f4b3f;
  padding: 10% 0;
  font-size: 20px;
}
main.status_maintenance h1 {
  font-size: 3.4rem;
}
main.status_maintenance h1 span {
  display: block;
}
main.status_maintenance p {
  font-size: 1.2rem;
}
main.status_maintenance .text-content {
  min-height: 50vh;
  color: #f1f2ed;
}
main.gig_Detailed header {
  padding: 1.5rem 0;
}